<div class="container" style="margin-top:30px">

<div class="col-md-6">
  <h2>Add Task</h2>
  <form [formGroup]="SaveTaskForm" (ngSubmit)="SaveTask(SaveTaskForm.value)">
    <div class="form-group" >
      <label for="email">Task Title:</label>
      <input type="text" class="form-control" placeholder="Task Title" [formControl]="SaveTaskForm.controls['taskName']" >
    </div>
    <div class="form-group">
      <label for="pwd">Task Description:</label>
      <input type="text" class="form-control"  placeholder="Task Description" [formControl]="SaveTaskForm.controls['taskDesc']">
    </div>
	<div class="text-success" *ngIf="responseStatus"  style="margin-bottom: 9px;">{{responseStatus.success}}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 </div> 

<div class="col-md-6">
  <h2>Task List</h2>
  <div>
  <div class="card" *ngIf="TaskList">
	  <ul class="list-group list-group-flush" *ngFor='let task of TaskList '>
		<li class="list-group-item"> {{ task.taskName }} </li>
	  </ul>
  </div>
</div> 
  
</div>
